<div class="signup-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Crea una cuenta</mat-card-title>
        <app-google-button (onClick)="submitWithGoogle()" />
      </mat-card-header>
      
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="email"
                  formControlName="email"
                />
                @if(isRequired('email')){
                    <mat-error>
                      Este campo es requerido
                    </mat-error>
                    }

                    @if(hasEmailError()){
                        <mat-error>
                            Ingrese un correo valido
                          </mat-error>
                    }


              </mat-form-field>
              

  
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                />
                @if(isRequired('password')){
                <mat-error>
                  Este campo es requerido
                </mat-error>
                }

              </mat-form-field>
              
  
          <!--<mat-form-field appearance="fill" class="full-width">
            <mat-label>Repita la contraseña</mat-label>
            <input
              matInput
              type="password"
              name="confirmPassword"
              formControlName="password"
              ngModel
              required
            />
          </mat-form-field>!-->
  
          <button mat-raised-button color="primary" type="submit" class="full-width">
            Registrarse
          </button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <p>
          Ya tenes una cuenta?
          <a  mat-button color="primary" routerLink="/auth/sign-in">
            Inicia Sesión
          </a>
        </p>
      </mat-card-actions>
    </mat-card>
  </div>